﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Ql_Ban_Hang.Models.Product>
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/admin/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <title>@ViewBag.title</title>
     <!-- Favicon  -->
    <link rel="icon" href="/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>

    <div class="wrapper d-flex align-items-stretch">

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="https://localhost:7233/Admin/Product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminVoucher/Voucher">Voucher</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminOder">Oder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminInvoice">Invoice</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminAccount">Admin Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/Login/logOut">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="main">


                <!-- content   -->
                <div class="" id="content">
                    <h2 style="text-align: center;">Quản lý sản phẩm</h2>

                    <div style="margin-bottom:25px;float:right;"><button type="button" id="btn-add" class="btn btn-secondary">Tạo mới</button></div>
                    <table class="table  table-striped table-bordered" id="myTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã sản phẩm</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Collection</th>
                                <th scope="col">Màu sắc</th>
                                <th scope="col">Nhãn hàng</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Giá</th>
                                 <th scope="col">Số lượng</th>
                                <th scope="col">Chi tiết</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.ProductId</td>
                                    <td style="width:300px;">@x.NameProduct</td>
                                    <td>@x.Collection</td>
                                    <td>@x.Color</td>
                                    <td>@x.Brand</td>
                                    <td><img src="@x.Image" alt="Alternate Text" style="width: 100px; height: 150px;" /></td>
                                    <td>@x.Price</td>
                                    <td>@x.SoLuong</td>
                                    <td>@x.Title</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-edit" data-id="@x.ProductId">Chỉnh sửa</button>
                                        <button type="button" class="btn btn-danger btn-delete" data-id="@x.ProductId">Xóa</button>                                     
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- Modal add -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="inp-add-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Collection</label>
                                        <select class="form-select form-control"  id="inp-add-collection">
                                              <option value="">Select Collection</option>
                                              <option value="Bodysuits">Bodysuits</option>
                                              <option value="Dresses">Dresses</option>
                                              <option value="Hoodies & Sweats">Hoodies & Sweats</option>
                                              <option value="Jackets & Coats">Jackets & Coats</option>
                                              <option value="Jeans">Jeans</option>
                                              <option value="Pants & Leggings">Pants & Leggings</option>
                                              <option value="Rompers & Jumpsuits">Rompers & Jumpsuits</option>
                                              <option value="Shirts & Blouses">Shirts & Blouses</option>
                                              <option value="Shirts">Shirts</option>
                                              <option value="Sweaters & Knits">Sweaters & Knits</option>
                                         </select>
                                                                            
                                    </div>
                                    <div class="form-group">
                                        <label for="">Màu</label>
                                         <select class="form-select form-control"  id="inp-add-color">
                                              <option value="">Select Color</option>
                                              <option value="White" style="background-color:White;">White </option>
                                              <option value="Gray"  style="background-color:Gray">Gray </option>                                              
                                              <option value="Yellow"  style="background-color:Yellow">Yellow</option> 
                                              <option value="Orange"  style="background-color:Orange">Orange </option>                                            
                                              <option value="Green"  style="background-color:Green">Green</option>                                           
                                              <option value="Brown"  style="background-color:Brown">Brown </option>  
                                              <option value="Blue" style="background-color:blue">Blue</option>    
                                              <option value="Purple"  style="background-color:Purple">Purple  </option>
                                              <option value="Red"  style="background-color:Red">Red </option>                                                
                                              <option value="Black"  style="background-color:Black">Black </option>
                                         </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Nhãn hàng</label>
                                         <select class="form-select form-control"  id="inp-add-band">
                                              <option value="">Select Band</option>
                                              <option value="Asos">Asos </option>
                                              <option value="Mango">Mango</option>     
                                              <option value="River Island">River Island</option>
                                              <option value="Topshop">Topshop</option> 
                                              <option value="Zara">Zara </option>
                                             
                                         </select>                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="">Giá</label>
                                        <input type="number" class="form-control" id="inp-add-price">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 1</label>
                                        <input type="number" class="form-control" id="inp-add-size1" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 2</label>
                                        <input type="number" class="form-control" id="inp-add-size2" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 3</label>
                                        <input type="number" class="form-control" id="inp-add-size3" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 4</label>
                                        <input type="number" class="form-control" id="inp-add-size4" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Chi tiết</label>
                                        <input type="text" class="form-control" id="inp-add-title">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Ảnh</label>
                                        <input type="file" class="form-control fileImage" id="add-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-add-model">Thêm sản phẩm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal delete -->
            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <P>Xác nhận xóa sản phẩm này ?</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-delete-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- Modal edit -->
            <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sửa sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="inp-edit-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Collection</label>
                                         <select class="form-select form-control"  id="inp-edit-collection">
                                              <option value="">Select Collection</option>
                                              <option value="Bodysuits">Bodysuits</option>
                                              <option value="Dresses">Dresses</option>
                                              <option value="Hoodies & Sweats">Hoodies & Sweats</option>
                                              <option value="Jackets & Coats">Jackets & Coats</option>
                                              <option value="Jeans">Jeans</option>
                                              <option value="Pants & Leggings">Pants & Leggings</option>
                                              <option value="Rompers & Jumpsuits">Rompers & Jumpsuits</option>
                                              <option value="Shirts & Blouses">Shirts & Blouses</option>
                                              <option value="Shirts">Shirts</option>
                                              <option value="Sweaters & Knits">Sweaters & Knits</option>
                                         </select>                                      
                                    </div>

                                    <div class="form-group">
                                        <label for="">Màu</label>
                                           <select class="form-select form-control"  id="inp-edit-color">
                                              <option value="">Select Color</option>
                                              <option value="White" style="background-color:White;">White </option>
                                              <option value="Gray"  style="background-color:Gray">Gray </option>                                              
                                              <option value="Yellow"  style="background-color:Yellow">Yellow</option> 
                                              <option value="Orange"  style="background-color:Orange">Orange </option>                                            
                                              <option value="Green"  style="background-color:Green">Green</option>                                           
                                              <option value="Brown"  style="background-color:Brown">Brown </option>  
                                              <option value="Blue" style="background-color:blue">Blue</option>    
                                              <option value="Purple"  style="background-color:Purple">Purple  </option>
                                              <option value="Red"  style="background-color:Red">Red </option>                                                
                                              <option value="Black"  style="background-color:Black">Black </option>
                                         </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Nhãn hàng</label>
                                         <select class="form-select form-control"  id="inp-edit-band">
                                              <option value="">Select Band</option>
                                              <option value="Asos">Asos </option>
                                              <option value="Mango">Mango</option>     
                                              <option value="River Island">River Island</option>
                                              <option value="Topshop">Topshop</option> 
                                              <option value="Zara">Zara </option>
                                             
                                         </select>
                                    </div>
  
                                    <div class="form-group">
                                        <label for="">Giá</label>
                                        <input type="number" class="form-control" id="inp-edit-price">
                                    </div>
                                     <div class="form-group">
                                        <label for="">Số lượng size 1</label>
                                        <input type="number" class="form-control" id="inp-edit-size1" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 2</label>
                                        <input type="number" class="form-control" id="inp-edit-size2" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 3</label>
                                        <input type="number" class="form-control" id="inp-edit-size3" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số lượng size 4</label>
                                        <input type="number" class="form-control" id="inp-edit-size4" value="1">
                                    </div>
                                     <div class="form-group">
                                        <label for="">Chi tiết</label>
                                        <input type="text" class="form-control" id="inp-edit-title">
                                    </div>
                                     <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="uploadImage" name="sort" checked>
                                              <label class="form-check-label" for="flexSwitchCheckDefault">Không sửa ảnh</label>
                                           </div>
                                    <div class="form-group">
                                        <label for="">Ảnh</label>
                                        <input type="file" class="form-control fileImage " id="edit-image" readonly>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-edit-model">Sửa sản phẩm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/admin/js/popper.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
</body>
<script>
    var product = {
        ProductId: 0,
        NameProduct: "",
        Collection: "",
        Color: "",
        Brand: "",
        Image: "",
        Price: 0,
        Title: "",
        slSize1: 1,
        slSize2: 1,
        slSize3: 1,
        slSize4: 1
    }
    var gIdProduct = 0;
    var gCheckImageEdit =1;
    $("#uploadImage").change(function () {
        if(gCheckImageEdit==1)
        {
            gCheckImageEdit=0;
            $('#edit-image').prop('readonly', false);
        }
        else
        {
            gCheckImageEdit =1;
            $('#edit-image').prop('readonly', true);
        }
        
    })
    $(".fileImage").change(function () {
        product.Image = "chon";
    })
    $('#btn-add').on('click', function () {
        $("#exampleModal").modal("show");
    })
    $('#btn-add-model').on('click', function () {
        onBtnAddProduct();
    })
    $('.btn-delete').on('click', function () {
        gIdProduct = this.getAttribute('data-id');
        $("#deleteModel").modal("show");
    })
    $('#btn-delete-model').on('click', function () {
        onBtnDeleteProduct();
    })
    $('.btn-edit').on('click', function () {
        product.ProductId = parseInt(this.getAttribute('data-id'),10);
        postData(product.ProductId);
        $("#editModel").modal("show");
    })
    $('#btn-edit-model').on('click', function () {
        onBtnEditProduct();
    })
    // hàm gọi khi ấn nút thêm sản phẩm
    function onBtnAddProduct() {
            getDataAddProduct();
            console.log(product);
            if (validate()) {
                $.ajax({
                    url: "https://localhost:7233/admin/addProduct",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    data: product,
                    success: function (result) {
                            addImage(result,'add-image');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
            }
            else {
                alert("Vui lòng điền đầy đủ thông tin sản phẩm!");
            }

        }
    function getDataAddProduct() {
            product.NameProduct = $("#inp-add-name").val();
            product.Collection = $("#inp-add-collection").find(":selected").val();
            product.Color = $("#inp-add-color").find(":selected").val();
            product.Brand = $("#inp-add-band").find(":selected").val();
            product.Price = parseInt($("#inp-add-price").val(), 10);
            product.Title = $("#inp-add-title").val(); 
            product.slSize1 = parseInt($("#inp-add-size1").val(), 10);
            product.slSize2 = parseInt($("#inp-add-size2").val(), 10);
            product.slSize3 = parseInt($("#inp-add-size3").val(), 10);
            product.slSize4 = parseInt($("#inp-add-size4").val(), 10);

        }
    // hàm thêm ảnh
    function addImage(id,inputId) {
            if (window.FormData !== undefined) {                  
                var input = document.getElementById(inputId);
                var files = input.files;
                var formData = new FormData();

                for (var i = 0; i != files.length; i++) {
                    formData.append("files", files[i]);
                }
                
                $.ajax({
                    url: 'https://localhost:7233/admin/addImage',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formData,
                    headers: {
                        "id": id
                      },
                    success: function (result) {
                        alert(result);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err.statusText);
                        location.reload();
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
     }
    // hàm xóa 
    function deleteProduct(id) {
            $.ajax({
                "url": "https://localhost:7233/admin/deleteProduct/" + id,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (err) {
                    alert(result);
                }
            });

        }
    // hàm khi ấn nút xác nhận xóa
    function onBtnDeleteProduct() {
            deleteProduct(gIdProduct);
    }
    // hàm validate
    function validate() {
            if (product.NameProduct == "") {
                return false;
            }
            if (product.Collection == "") {
                return false;
            }  
            if (product.Color == "") {
                return false;
            }
            if (product.Brand == "") {
                return false;
            }
            if (product.Price == 0) {
                return false;
            }
            if (product.Image == ""&&gCheckImageEdit==0) {
                return false
            }
            if (product.Title == "") {
                return false
            }
            if (product.slSize1 <0||product.slSize2 <0||product.slSize3 <0||product.slSize4 <0) {
                return false
            }

            return true;
    }
     // hàm khi ấn nút sửa sửa
    function onBtnEditProduct ()
    {
        getDataEditProduct();
            if (validate()) {
                $.ajax({
                    url: "https://localhost:7233/admin/editProduct",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "editImage": gCheckImageEdit
                    },
                    data: product,
                    success: function (result) {
                        debugger;
                        if(gCheckImageEdit==0)
                        {addImage(result,"edit-image");}
                        else
                        {
                            alert("Thành công!");
                            window.location.reload();
                        }
                        
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
            }
            else {
                alert("Vui lòng điền đầy đủ thông tin sản phẩm!");
            }
        
    }
    function getDataEditProduct() {
        product.NameProduct = $("#inp-edit-name").val();
        product.Collection = $("#inp-edit-collection").find(":selected").val();
        product.Color = $("#inp-edit-color").find(":selected").val();
        product.Brand = $("#inp-edit-band").find(":selected").val();
        product.Price = parseInt($("#inp-edit-price").val(), 10);
        product.Title = $("#inp-edit-title").val(); 
        product.slSize1 = parseInt($("#inp-edit-size1").val(), 10);
        product.slSize2 = parseInt($("#inp-edit-size2").val(), 10);
        product.slSize3 = parseInt($("#inp-edit-size3").val(), 10);
        product.slSize4 = parseInt($("#inp-edit-size4").val(), 10);
    }
    function postDaTaEdit(productPost)
    {
        $("#inp-edit-name").val(productPost.nameProduct);
        $("#inp-edit-price").val(productPost.price);
        $("#inp-edit-title").val(productPost.title);
         $("#inp-edit-color option[value='"+productPost.color.trim()+"']").attr("selected", "selected");
        $("#inp-edit-collection option[value='"+productPost.collection.trim()+"']").attr("selected", "selected");
         $("#inp-edit-band option[value='"+productPost.brand.trim()+"']").attr("selected", "selected");
         debugger
          $("#inp-edit-size1").val(productPost.slSize1);
           $("#inp-edit-size2").val(productPost.slSize2);
            $("#inp-edit-size3").val(productPost.slSize3);
          $("#inp-edit-size4").val(productPost.slSize4);
    }
    function postData(id)
    {
        $.ajax({
                "url": "https://localhost:7233/Admin/postData/" + id,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    console.log(result)
                    postDaTaEdit(result);
                },
                error: function (err) {
                    alert("false");
                }
            });
    }
</script>
</html>