﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bài_tập_lớn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <title>@ViewBag.title</title>
     <!-- Favicon  -->
    <link rel="icon" href="/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>
     <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="https://localhost:7233/home/index"><img src="/Content/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="https://localhost:7233/shop">Shop</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Women's Collection</li>
                                        <li><a href="shop.html">Dresses</a></li>
                                        <li><a href="shop.html">Blouses &amp; Shirts</a></li>
                                        <li><a href="shop.html">T-shirts</a></li>
                                        <li><a href="shop.html">Rompers</a></li>
                                        <li><a href="shop.html">Bras &amp; Panties</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Men's Collection</li>
                                        <li><a href="shop.html">T-Shirts</a></li>
                                        <li><a href="shop.html">Polo</a></li>
                                        <li><a href="shop.html">Shirts</a></li>
                                        <li><a href="shop.html">Jackets</a></li>
                                        <li><a href="shop.html">Trench</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Kid's Collection</li>
                                        <li><a href="shop.html">Dresses</a></li>
                                        <li><a href="shop.html">Shirts</a></li>
                                        <li><a href="shop.html">T-shirts</a></li>
                                        <li><a href="shop.html">Jackets</a></li>
                                        <li><a href="shop.html">Trench</a></li>
                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="/Content/img/bg-img/bg-6.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="https://localhost:7233/login/logOut" id="logOut">Đăng xuất</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="input-group mb-3" style="height:30px;width:300px;margin-top:25px;margin-right:30px">
                  <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..."  id="headerSearch">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn-FindName"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><img src="/Content/img/core-img/heart.svg" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="https://localhost:7233/profile"><img src="/Content/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="/Content/img/core-img/bag.svg" alt=""><span id="soLuong1"></span>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area" id="listCart">
        <!-- Cart Button -->
        <div class="cart-button"  >
            <a href="#" id="rightSideCart"><img src="/Content/img/core-img/bag.svg" alt=""><span id="soLuong"></span> </a>
        </div>

        <div class="cart-content d-flex">
            
            <!-- Cart List Area -->
            <div class="cart-list" id="cart-List1">
               
                           
            </div>

                <!-- Cart Summary -->
                <div class="cart-amount-summary"id="cart-List2" >
                   
                    
                </div>
            

        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    <div class="container">
    <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

       <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="/Content/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>, distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
   </body>
    <!-- ##### Shop Grid Area End ##### -->
   <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/Content/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/Content/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/Content/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/Content/js/active.js"></script>
    <script>
         $('#listCart').on('click', '.removeCart', function() {
          idCart = this.getAttribute('data-id');
          removeCart(idCart);

        });
        getListCart();
        function removeCart(idCart)
        {
          $.ajax({
                   url: "https://localhost:7233/Shop/removeCart",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                      },
                    data: {
                        id: idCart
                    },
                    success: function (result) {
                        alert(result);
                        getListCart();
                    },
                    error: function (err) {
                        alert(err.statusText);
                }
          })
        }
         function getListCart()
        {
          $.ajax({
                   url: "https://localhost:7233/Shop/getListCart",
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                      },
                    success: function (result) {
                        console.log(result);
                        var listProduct = JSON.parse(result);
                        var soLuong =  $("#soLuong");
                        soLuong.empty();
                        var soLuong1 =  $("#soLuong1");
                        soLuong1.empty();
                        var cartList1 =  $("#cart-List1");
                        cartList1.empty();
                        var cartList2 =  $("#cart-List2");
                        cartList2.empty();
                        soLuong.append(
                            '<span>'+listProduct.length +'</span>'
                        );
                        soLuong1.append(
                            '<span>'+listProduct.length +'</span>'
                        );      
                            var price=0;
                            if(listProduct.length>0)
                                {
                                    for(let x of listProduct)
                                    {
                                        cartList1.append(
                                            '<div class="single-cart-item">'+
                                            '<a href="#" class="product-image">'+
                                                '<img src="'+x.Image+'" class="cart-thumb" alt="">'+
                                                '<div class="cart-item-desc">'+
                                                  '<div class="removeCart" data-id="'+x.ProductId+'"><span class="product-remove "><i class="fa fa-close" aria-hidden="true"></i></span> </div> '+
                                                    '<h6>'+x.NameProduct+'</h6>'+
                                                    '<p class="color">Color: '+x.Color+'</p>'+
                                                    '<p class="price">'+x.Price+'</p>'+
                                                '</div>'+
                                            '</a>'+
                                        '</div>'
                                        )//
                                       price = price + x.Price
                                    }
                                 cartList2.append(
                                '<h2>Summary</h2>'+
                                    '<ul class="summary-table">'+
                                        '<li><span>subtotal:</span> <span>'+                                
                                                    '<span>'+price+'</span>'+
                                            '</span></li>'+
                                    '<li><span>Ship:</span> <span>Free</span></li>'+
                                    '<li><span>discount:</span> <span>-0%</span></li>'+
                                    '<li><span>total:</span> <span>$'+price+'</span></li> '+                          
                                    '</ul>'+
                                    '<div class="checkout-btn mt-100">'+
                                        '<a href="https://localhost:7233/Checkout" class="btn essence-btn">check out</a>'+
                                    '</div>'
                                )//
                            }  
                            else
                            {
                                cartList2.append(' <h2>Bạn chưa có sản phẩm nào trong giỏ hàng!</h2>');
                            }
                             
                           
                        
                    },
                    error: function (err) {
                        alert(err.statusText);
                }
          })
        }
    </script>