﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model User
<section style="background-color: #eee;">
  <div class="container py-5" style="margin-top:20px;">
      <button type="button" class="btn btn-edit btn-danger">Sửa thông tin</button>
        
      </div>
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.FullName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Email</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.PhoneNumber</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ngày sinh</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Birthday.ToShortDateString()</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Address</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"> Danh sách đơn đặt hàng
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Mã đặt</th>
                      <th scope="col">Số tiền</th>
                      <th scope="col">Ngày đặt</th>
                      <th scope="col">Chi tiết</th>
                    </tr>
                  </thead>
                  <tbody id="tbodyOder">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td><button class="btn btn-outline-primary btn-detail-oder">Chi tiết</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"> Danh sách đã mua
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Mã đặt</th>
                      <th scope="col">Số tiền</th>
                      <th scope="col">Ngày đặt</th>
                      <th scope="col">Ngày giao hàng</th>
                      <th scope="col">Chi tiết</th>
                    </tr>
                  </thead>
                  <tbody id="tbodyInvoice">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Otto</td>
                      <td><button class="btn btn-outline-primary btn-detail-invoice">Chi tiết</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
 <!-- Modal  -->
            <div class="modal fade" id="Show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Cart Item Desc -->
                                 
                                                                                                                                     
                     <!-- Cart Item Desc -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
                  <!-- Modal edit -->
            <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Để chỉnh sửa vui lòng nhập mật khẩu!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Tên :</label>
                                        <input type="text" class="form-control" id="inp-edit-fullname">
                                    </div>                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Ngày sinh :</label>
                                        <input type="date" class="form-control" id="inp-edit-birthday">
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Giới tính :</label>
                                        <input type="radio" id="nam"  name="gender"  value="0" style="height:35px; width:20px"><label>Nam       </label>
						                <input type="radio" id="nu"  name="gender"  value="1" style="height:35px; width:20px"><label>Nữ</label>
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Email :</label>
                                        <input type="text" class="form-control" id="inp-edit-email">
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Phone :</label>
                                        <input type="text" class="form-control" id="inp-edit-phone">
                                    </div>                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Địa chỉ :</label>
                                        <input type="text" class="form-control" id="inp-edit-address">
                                    </div>                           
                                </div>
                            </div>
                             <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="checkNewPass" name="sort" checked>
                                  <label class="form-check-label" for="flexSwitchCheckDefault">Không sửa mật khẩu</label>
                             </div>
                              <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Mật khẩu mới :</label>
                                        <input type="password" class="form-control" id="inp-edit-password" readonly>
                                    </div>                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Mật khẩu cũ:</label>
                                        <input type="password" class="form-control" id="inp-confirm-password">
                                    </div>                           
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-confirm-eidt">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var userEdit = {
        FullName: "",
        Birthday: "",
        Address: "",
        PhoneNumber: "",
        Gender: false,
        Email: "",
        PassWord: "",
    }
    gId = 0;
    gEditPass = 0;
    var passWord = "";
    $("table").on('click','.btn-detail-oder',function()
    {
        gId = this.getAttribute('data-id');
        getOderDetail(gId)
        $("#Show").modal("show");
    })
     $('.btn-edit').on('click', function () {
         postData();
        $("#editModel").modal("show");
    })
    $("#btn-confirm-eidt").on('click',function()
    {
        passWord = $("#inp-confirm-password").val();
        getDataEditUser();
        onBtnEditUser();

    })
     $("#checkNewPass").change(function () {
        if(gEditPass==0)
        {
            gEditPass=1;
            $('#inp-edit-password').prop('readonly', false);
        }
        else
        {
            gEditPass = 0;
            $('#inp-edit-password').prop('readonly', true);
        }
        
    })
    getOder();
    function getOder()
    {
         $.ajax({
                "url": "https://localhost:7233/Profile/getOder",
                "method": "GET",
                "timeout": 0,
                success: function (result) {
                    var listOder = JSON.parse(result);
                    var display =  $("#tbodyOder").empty();
                    for(let index of listOder)
                    {
                      display.append("  <tr>"+
                      '<th scope="row">'+index.OderId+'</th>'+
                      '<td>'+index.PriceTotal+'</td>'+
                      '<td>'+index.DateOder.slice(0, 10)+'</td>'+
                      '<td><button class="btn btn-outline-primary btn-detail-oder" data-id = "'+index.OderId+'">Chi tiết</button>'+
                      "</td></tr>");
                    }

                },
                error: function (err) {
                    alert("false");
                }
            });
    }
     getInvoice();
    function getInvoice()
    {
         $.ajax({
                "url": "https://localhost:7233/Profile/getInvoice",
                "method": "GET",
                "timeout": 0,
                success: function (result) {
                    var listOder = JSON.parse(result);
                    var display =  $("#tbodyInvoice").empty();
                    for(let index of listOder)
                    {
                      display.append("  <tr>"+
                      '<th scope="row">'+index.OderId+'</th>'+
                      '<td>'+index.PriceTotal+'</td>'+
                      '<td>'+index.DateOder.slice(0, 10)+'</td>'+
                       '<td>'+index.DateInvoie.slice(0, 10)+'</td>'+
                      '<td><button class="btn btn-outline-primary btn-detail-oder" data-id = "'+index.OderId+'">Chi tiết</button>'+
                      "</td></tr>");
                    }

                },
                error: function (err) {
                    alert("false");
                }
            });
    }

    function getOderDetail(id)
    {
         $.ajax({
                "url": "https://localhost:7233/Profile/getOderDetail/"+id,
                "method": "GET",
                "timeout": 0,
                success: function (result) {
                    var listOderDetail = JSON.parse(result);
                    var display =  $(".modal-body").empty();
                    console.log(listOderDetail);
                    for(let index of listOderDetail)
                    {
                      display.append(
                          '<div class="single-cart-item" style="margin-bottom:20px;" >'+
                                '<div class="row">'+
                                    '<div class="col-sm"><img src="'+index.Products.Image+'" class="cart-thumb" alt=""></div>'+  
                                    '<div class="cart-item-desc col-sm">'+
                                        '<h6>'+index.Products.NameProduct+'</h6>'+
                                        '<p class="price">Nhãn hàng: '+index.Products.Brand+' </p>'+
                                        '<p class="price">Size: '+index.Quantities.Size+' </p>'+
                                         '<p class="color">Màu sắc: '+index.Products.Color+'</p>'+
                                         '<p class="price">Số lượng: '+index.OderDetails.quantity+' </p> '+ 
                                         '<p>Giá: '+index.Products.Price+'$</p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'
                      );//
                    }

                },
                error: function (err) {
                    alert("false");
                }
            });
    }
    function validatePass()
    {
         $.ajax({
                "url": "https://localhost:7233/Profile/getInvoice",
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    var listOder = JSON.parse(result);
                    var display =  $("#tbodyInvoice").empty();
                    for(let index of listOder)
                    {
                      display.append("  <tr>"+
                      '<th scope="row">'+index.OderId+'</th>'+
                      '<td>'+index.PriceTotal+'</td>'+
                      '<td>'+index.DateOder.slice(0, 10)+'</td>'+
                       '<td>'+index.DateInvoie.slice(0, 10)+'</td>'+
                      '<td><button class="btn btn-outline-primary btn-detail-oder" data-id = "'+index.OderId+'">Chi tiết</button>'+
                      "</td></tr>");
                    }

                },
                error: function (err) {
                    alert("false");
                }
            });
    }
    function getDataEditUser()
    {
        userEdit.FullName = $("#inp-edit-fullname").val();
        userEdit.Birthday = $("#inp-edit-birthday").val();
        userEdit.Email = $("#inp-edit-email").val();
        userEdit.PhoneNumber = $("#inp-edit-phone").val();
        userEdit.Address = $("#inp-edit-address").val();
        userEdit.PassWord = $("#inp-edit-password").val();
        if($('input[name=gender]:checked').val()==0)
			{
				userEdit.Gender = false;
			}
		 if($('input[name=gender]:checked').val()==1)
			{
				userEdit.Gender = true;
			}
    }
    function validate()
		{
			if(userEdit.PassWord.length<6&&gEditPass==1)
			{
				alert("Mật khẩu phải dài hơn 5 ký tự!");
				return false;
			}
			if(userEdit.FullName == "")
			{
				alert("Vui lòng nhập họ và tên!");
				return false;
			}
			if(userEdit.Birthday == "")
			{
				alert("Vui lòng nhập ngày sinh!");
				return false;
			}
			if(userEdit.Address == "")
			{
				alert("Vui lòng nhập địa chỉ!");
				return false;
			}
			if(userEdit.PhoneNumber == "")
			{
				alert("Vui lòng nhập số điện thoại!");
				return false;
			}
			if(isNaN(userEdit.PhoneNumber))
			{
				alert("Số điện thoại phải là số!");
				return false;
			}
			if(userEdit.Email == "")
			{
				alert("Vui lòng nhập Email!");
				return false;
			}
			return true;
		}
    function onBtnEditUser ()
        {
                if (validate()) {
                    $.ajax({
                        url: "https://localhost:7233/Profile/editUser",
                        method: "POST",
                        timeout: 0,
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "editPassword": gEditPass,
                            "oldPassword": passWord
                        },
                        data: userEdit,
                        success: function (result) {
                                alert("Thành công!");
                                window.location.reload();
                        
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    })
                }
        
        }
    function postData()
    {
        $.ajax({
                "url": "https://localhost:7233/Profile/postData",
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    console.log(result);
                    $("#inp-edit-fullname").val(result.fullName);
                    $("#inp-edit-birthday").val(result.birthday.slice(0, 10));
                    $("#inp-edit-email").val(result.email);
                    $("#inp-edit-phone").val( result.phoneNumber);
                    $("#inp-edit-address").val( result.address );
                    if(result.gender==false)
                    {
                        $("#nam").prop("checked", true);
                    }
                    else
                    {
                          $("#nu").prop("checked", true);
                    }
                },
                error: function (err) {
                    alert("false");
                }
            });
    }
</script>