﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Oder>
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/admin/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <title>@ViewBag.title</title>
     <!-- Favicon  -->
    <link rel="icon" href="/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">




</head>
<body>

    <div class="wrapper d-flex align-items-stretch justify-content-center">
     
            <div id="main">

                <button><a class="nav-link" href="https://localhost:7233/Login/logOut">Log out</a></button>
                <!-- content   -->
                <div class="" id="content">
                    <h2 style="text-align: center;">Quản lý đơn hàng</h2>
                    <table class="table  table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã Oder</th>
                                <th scope="col">Mã người dùng</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Ngày đặt hàng</th>
                                <th scope="col">Giá tiền</th>
                                <th scope="col">Chi tiết</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.OderId</td>
                                    <td>@x.UserId</td>
                                    <td>@x.Address</td>
                                    <td>@x.PhomeNumber</td>
                                    <td>@x.DateOder</td>
                                    <td>@x.PriceTotal</td>
                                    <td><button type="button" class="btn btn-primary btn-detail-oder" data-id="@x.OderId"data-userId="@x.UserId">Chi tiết</button></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xacNhan" data-id="@x.OderId">Xác nhận đã thanh toán</button>
                                        <button type="button" class="btn btn-danger btn-delete" data-id="@x.OderId">Hủy</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
          
            <!-- Modal delete -->
            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <P>Xác nhận xóa đơn đặt hàng này ?</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-delete-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- Modal edit -->
            <div class="modal fade" id="confirmModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận thanh toán</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <p>Xác nhận đã thanh toán</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-confirm-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
             <!-- Modal  -->
            <div class="modal fade" id="Show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Cart Item Desc -->
                                 
                                                                                                                                     
                     <!-- Cart Item Desc -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/admin/js/popper.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
</body>
<script>  
    var gId = 0;
    $('.btn-delete').on('click', function () {
        gId = this.getAttribute('data-id');
        $("#deleteModel").modal("show");
    })
    $('#btn-delete-model').on('click', function () {
        deleteOder();
    })
    $('.btn-xacNhan').on('click', function () {
        gId = this.getAttribute('data-id');
        $("#confirmModel").modal("show");
    })
    $('#btn-confirm-model').on('click', function () {
       onBtnConfirmPay();
    })
    $("table").on('click','.btn-detail-oder',function()
    {
        gId = this.getAttribute('data-id');
        getOderDetail(gId)
        $("#Show").modal("show");
    })
    // hàm xóa 
    function deleteOder(id) {
            $.ajax({
                "url": "https://localhost:7233/AdminOder/deleteOder/" + gId,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (err) {
                    alert(result);
                }
            });

        }
    // hàm khi ấn nút xác nhận
    function onBtnConfirmPay()
    {
          $.ajax({
                "url": "https://localhost:7233/AdminOder/confirmPay/"+gId,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    alert(result);
                    window.location.reload();
                },
                error: function (err) {
                    alert(result);
                }
            });

    }
      function getOderDetail(id)
    {
         $.ajax({
                "url": "https://localhost:7233/Profile/getOderDetail/"+id,
                "method": "GET",
                "timeout": 0,
                success: function (result) {
                    var listOderDetail = JSON.parse(result);
                    var display =  $(".modal-body").empty();
                    console.log(listOderDetail);
                    for(let index of listOderDetail)
                    {
                      display.append(
                          '<div class="single-cart-item" style="margin-bottom:20px;" >'+
                                '<div class="row">'+
                                    '<div class="col-sm"><img src="'+index.Products.Image+'" class="cart-thumb" alt=""></div>'+  
                                    '<div class="cart-item-desc col-sm">'+
                                        '<h6>'+index.Products.NameProduct+'</h6>'+
                                        '<p class="price">Nhãn hàng: '+index.Products.Brand+' </p>'+
                                        '<p class="price">Size: '+index.Quantities.Size+' </p>'+
                                         '<p class="color">Màu sắc: '+index.Products.Color+'</p>'+
                                         '<p class="price">Số lượng: '+index.OderDetails.quantity+' </p> '+ 
                                         '<p>Giá: '+index.Products.Price+'$</p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'
                      );//
                    }

                },
                error: function (err) {
                    alert("false");
                }
            });
    }
</script>
</html>