﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Voucher>
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/admin/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <title>@ViewBag.title</title>
     <!-- Favicon  -->
    <link rel="icon" href="/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">




</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="https://localhost:7233/Admin/product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminVoucher/Voucher">Voucher</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminOder">Oder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminInvoice">Invoice</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminAccount">Account Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/Login/logOut">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="main">


                <!-- content   -->
                <div class="" id="content">
                    <h2 style="text-align: center;">Quản lý voucher</h2>

                    <div style="margin-bottom:25px;float:right;"><button type="button" id="btn-add" class="btn btn-secondary">Tạo mới</button></div>
                    <table class="table  table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã voucher</th>
                                <th scope="col">Tên voucher</th>
                                <th scope="col">Phần trăm giảm giá</th>
                                <th scope="col">Lượt dùng</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.VoucherId</td>
                                    <td>@x.VoucherName</td>
                                    <td>@x.Discount</td>
                                    <td>@x.Total</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-edit" data-id="@x.VoucherId">Chỉnh sửa</button>
                                        <button type="button" class="btn btn-danger btn-delete" data-id="@x.VoucherId">Xóa</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- Modal add -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm voucher</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Tên voucher</label>
                                        <input type="text" class="form-control" id="inp-add-name" readonly maxlength="6">
                                         <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="randomVoucher" name="sort" checked>
                                              <label class="form-check-label" for="flexSwitchCheckDefault">Tạo tự động</label>
                                           </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phần trăm giảm giá</label>
                                        <input type="number" class="form-control" id="inp-add-discount">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Lượt dùng</label>
                                        <input type="number" class="form-control" id="inp-add-total">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-add-model">Thêm voucher</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal delete -->
            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <P>Xác nhận xóa sản phẩm này ?</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-delete-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- Modal edit -->
            <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sửa voucher</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                     <div class="form-group">
                                        <label for="">Tên voucher</label>
                                        <input type="text" class="form-control" id="inp-edit-name" maxlength="6">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phần trăm giảm giá</label>
                                        <input type="number" class="form-control" id="inp-edit-discount">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Lượt dùng</label>
                                        <input type="number" class="form-control" id="inp-edit-total">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-edit-model">Sửa voucher</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/admin/js/popper.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
</body>
<script>
    
    var voucher = {
        VoucherId: 0,
        VoucherName: "",
        Discount: 0,
        Total: 0
    }
    var gRandomVoucher = 1;
    var gId = 0;
    $("#randomVoucher").change(function () {
        if(gRandomVoucher==1)
        {
            gRandomVoucher=0;
            $('#inp-add-name').prop('readonly', false);
        }
        else
        {
            gRandomVoucher =1;
            $('#inp-add-name').val("");
            $('#inp-add-name').prop('readonly', true);
        }
        
    })
    $('#btn-add').on('click', function () {
        $("#exampleModal").modal("show");
    })
    $('#btn-add-model').on('click', function () {
        onBtnAddVoucher();
    })
    $('.btn-delete').on('click', function () {
        gId = this.getAttribute('data-id');
        $("#deleteModel").modal("show");
    })
    $('#btn-delete-model').on('click', function () {
        deleteVoucher(gId);
    })
    $('.btn-edit').on('click', function () {
        voucher.VoucherId = parseInt(this.getAttribute('data-id'),10);
        getVoucher(voucher.VoucherId);
        $("#editModel").modal("show");
    })
    $('#btn-edit-model').on('click', function () {
       onBtnEditVoucher();
    })
    // hàm gọi khi ấn nút thêm sản phẩm
    function onBtnAddVoucher() {
            getDataAddVoucher();
            console.log(voucher);
            if (validate()) {
                $.ajax({
                    url: "https://localhost:7233/AdminVoucher/addVoucher",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Random":gRandomVoucher
                    },
                    data: voucher,
                    success: function (result) {
                            alert(result);
                            window.location.reload();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
            }
            else {
                alert("Vui lòng điền đầy đủ thông voucher!");
            }

        }
    function getDataAddVoucher() {
            voucher.VoucherName = $("#inp-add-name").val();
            voucher.Discount = parseInt($("#inp-add-discount").val(), 10);
            voucher.Total = parseInt($("#inp-add-total").val(), 10);
        }
    // hàm thêm ảnh
    // hàm xóa 
    function deleteVoucher(id) {
            $.ajax({
                "url": "https://localhost:7233/AdminVoucher/deleteVoucher/" + id,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (err) {
                    alert(result);
                }
            });

        }
    // hàm khi ấn nút xác nhận xóa
    // hàm validate
    function validate() {
            if (voucher.VoucherName == ""&&gRandomVoucher==0) {
                return false;
            }
            if (voucher.Discount < 1||voucher.Discoun>100) {
                return false;
            }
            if (voucher.Total <1) {
                return false;
            }
            
            return true;
    }
    function getVoucher(id) {
            $.ajax({
                "url": "https://localhost:7233/AdminVoucher/getVoucher/" + id,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    var voucherget = JSON.parse(result);
                    editClick(voucherget);
                },
                error: function (err) {
                    alert(err);
                }
            });

        }
    function editClick(voucherget)
    {
        $("#inp-edit-name").val(voucherget.VoucherName);
        $("#inp-edit-discount").val(voucherget.Discount);
        $("#inp-edit-total").val(voucherget.Total);
    }
    function getDataedit()
    {
        voucher.VoucherName = $("#inp-edit-name").val();
        voucher.Discount = parseInt($("#inp-edit-discount").val(), 10);
        voucher.Total = parseInt($("#inp-edit-total").val(), 10);
    }
    function onBtnEditVoucher()
    {
        getDataedit();
          $.ajax({
                "url": "https://localhost:7233/AdminVoucher/editVoucher",
                "method": "POST",
                "timeout": 0,
                data: voucher,
                success: function (result) {
                    alert(result);
                    window.location.reload();
                },
                error: function (err) {
                    alert(result);
                }
            });

    }
</script>
</html>