﻿@{
    ViewBag.title = "Đăng ký";
}

<head>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Content/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Content/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Content/css/main.css">
<!--===============================================================================================-->
</head>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="login100-form-title">
					Đăng Ký
				</span>
				<div class="login100-form">
					<div class="wrap-input100">
						<input class="input100" type="text" name="" placeholder="Họ và tên" id="fullName">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						<input class="input100" type="date" name="" placeholder="Ngày sinh" id="Birthday">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						<input class="input100" type="text" name="" placeholder="Số điện thoại" id="PhoneNumber">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						<input class="" type="radio" name="gender" value="0" style="height:35px; width:35px"><label>Nam</label>
						<input class="" type="radio" name="gender" value="1"  style="height:35px; width:35px"><label>Nữ</label>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						<input class="input100" type="text" name="" placeholder="Email" id="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						<input class="input100" type="text" name="" placeholder="Địa chỉ" id="Address">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					
				</div>

				<div class="login100-form">
				

					<div class="wrap-input100">
						<input class="input100" type="text" name="username" placeholder="Tài khoản" id="UserName">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" id="PassWord">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="dangKyTK">
							Đăng ký
						</button>
					</div>

					

					<div class="text-center p-t-136">
						<a class="txt2" href="https://localhost:7233/login/index">
							Login
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/admin/js/popper.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/content/js/main.js"></script>
	<script>
		$('#dangKyTK').on('click', function () {
			taoTaiKhoan();
		})
		var dangKy ={
			UserName : "",
			PassWord : "",
			FullName : "",
			Birthday : "",
			Address : "",
			PhoneNumber : "",
			Gender : false,
			Email : ""
		}
		function getData()
		{
			dangKy.UserName = ($("#UserName").val());
			dangKy.PassWord = ($("#PassWord").val());
			dangKy.FullName = ($("#fullName").val());
			dangKy.Birthday = ($("#Birthday").val());
			dangKy.Address = ($("#Address").val());
			dangKy.PhoneNumber = ($("#PhoneNumber").val());
			dangKy.Email = ($("#Email").val());
			if($('input[name=gender]:checked').val()==0)
			{
				dangKy.Gender = false;
			}
			else
			{
				dangKy.Gender = true;
			}

		}
		function validate()
		{
			if(dangKy.UserName.length<6)
			{
				alert("Tài khoản phải dài hơn 5 ký tự!");
				return false;
			}
			if(dangKy.PassWord.length<6)
			{
				alert("Mật khẩu phải dài hơn 5 ký tự!");
				return false;
			}
			if(dangKy.FullName == "")
			{
				alert("Vui lòng nhập họ và tên!");
				return false;
			}
			if(dangKy.Birthday == "")
			{
				alert("Vui lòng nhập ngày sinh!");
				return false;
			}
			if(dangKy.Address == "")
			{
				alert("Vui lòng nhập địa chỉ!");
				return false;
			}
			if(dangKy.PhoneNumber == "")
			{
				alert("Vui lòng nhập số điện thoại!");
				return false;
			}
			if(isNaN(dangKy.PhoneNumber))
			{
				alert("Số điện thoại phải là số!");
				return false;
			}
			if(dangKy.Email == "")
			{
				alert("Vui lòng nhập Email!");
				return false;
			}
			return true;
		}
		  function taoTaiKhoan ()
			{
				getData();
					if (validate()) {
						$.ajax({
							url: "https://localhost:7233/login/DangKyTaiKhoan",
							method: "POST",
							timeout: 0,
							headers: {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							data: dangKy,
							success: function (result) {
								alert(result);
								window.location.href = 'https://localhost:7233/login/Index';
							},
							error: function (err) {
								alert(err.statusText);
							}
						})
					}					
        
			}

	</script>
