﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Product
 <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
                <img src="@Model.Image" alt="">
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>@Model.Brand</span>
            <a href="cart.html">
                <h2>@Model.NameProduct</h2>
            </a>
            <p class="product-price"> $@Model.Price</p>
            <p class="product-desc">@Model.Title</p>

            <!-- Form -->

                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="select" id="productSize" class="mr-5">
                        <option value="value">Size: XL</option>
                        <option value="value">Size: X</option>
                        <option value="value">Size: M</option>
                        <option value="value">Size: S</option>
                    </select>
                </div>

                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                   <div id="addCartDetail"> <button  class="btn essence-btn" >Add to cart</button></div>
                </div>

        </div>
    </section>
    <script src="/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <script>
       var url = window.location.search;
        var id = url.substring(url.lastIndexOf('=') + 1);
        $("#addCartDetail").on('click',function()
        {
            console.log(12);
            getCart(id)

        })
         function getCart(idCart)
         {
          $.ajax({
                   url: "https://localhost:7233/Shop/getCart",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                      },
                    data: {
                        id: idCart
                    },
                    success: function (result) {
                        alert(result);
                        getListCart();
                    },
                    error: function (err) {
                        alert(err.statusText);
                }
          })
       }
    </script>