﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(content/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>@ViewBag.Find</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse">
                                        <a href="#">clothing</a>
                                        <ul class="sub-menu collapse show">
                                            <li><a href="https://localhost:7233/shop">All</a></li>
                                            <li><a href="#" id="Bodysuits">Bodysuits</a></li>
                                            <li><a href="#" id="Dresses">Dresses</a></li>
                                            <li><a href="#" id="Hoodies">Hoodies & Sweats</a></li>
                                            <li><a href="#" id="Jackets">Jackets &amp; Coats</a></li>
                                            <li><a href="#" id="Jeans">Jeans</a></li>
                                            <li><a href="#" id="Pants">Pants &amp; Leggings</a></li>
                                            <li><a href="#" id="Rompers">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#" id="Shirts">Shirts &amp; Blouses</a></li>
                                            <li><a href="#" id="Shirts2">Shirts</a></li>
                                            <li><a href="#" id="Sweaters">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                   
                                </ul>
                            </div>
                        </div>
                         <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Price</p>
                            <div class="widget-desc">
                                <ul>
                                    <li><a href="#" id="priceMaxToM">Cao đến thấp</a></li>
                                    <li><a href="#"id="priceMinToM">Thấp đến cao</a></li>

                                </ul>
                            </div>
                        </div>
                      

                        <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <li><a href="#" data-id="White" class="color1 colorFind"></a></li>
                                    <li><a href="#" data-id="Gray" class="color2 colorFind"></a></li>
                                    <li><a href="#" data-id="Black" class="color3 colorFind"></a></li>
                                    <li><a href="#" data-id="Blue" class="color4 colorFind"></a></li>
                                    <li><a href="#" data-id="Red" class="color5 colorFind"></a></li>
                                    <li><a href="#" data-id="Yellow" class="color6 colorFind"></a></li>
                                    <li><a href="#" data-id="Orange" class="color7 colorFind"></a></li>
                                    <li><a href="#" data-id="Brown" class="color8 colorFind"></a></li>
                                    <li><a href="#" data-id="Green" class="color9 colorFind"></a></li>
                                    <li><a href="#" data-id="Purple" class="color10 colorFind"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                <ul>
                                    <li><a href="#" data-id="Asos"class="BrandFind" >Asos</a></li>
                                    <li><a href="#" data-id="Mango" class="BrandFind">Mango</a></li>
                                    <li><a href="#" data-id="River Island" class="BrandFind">River Island</a></li>
                                    <li><a href="#" data-id="Topshop" class="BrandFind">Topshop</a></li>
                                    <li><a href="#" data-id="Zara" class="BrandFind">Zara</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>@ViewBag.AllProduct</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting">
                                        <p>Sort $ by:</p>
                                           <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="priceMax" name="sort">
                                              <label class="form-check-label" for="flexSwitchCheckDefault">Thấp lên cao</label>
                                           </div>
                                          <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="priceMin" name="sort">
                                              <label class="form-check-label" for="flexSwitchCheckDefault">Cao đến thấp</label>
                                           </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="contentProduct">

                           

                          

                         

                        </div>
                    </div>
                    <!-- ##### dan tu day ##### -->  
                   
                </div>
            </div>
        </div>
    </section>
       <script src="/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <script>
    $( document ).ready(function() {
           var filter = {
            page: 1,
            pageSize: 9,
            searchTerm: "",
            type: "noType",
        }
        priceSort = 0;
        $('#Bodysuits').on('click', function () {
            filter.type = "Collection";
            filter.searchTerm = "Bodysuits";
            getListProduct();
  
        })
        $('#Dresses').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Dresses";
            getListProduct();
  
        })
        $('#Hoodies').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Hoodies & Sweats";
            getListProduct();
  
        })
        $('#Jackets').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Jackets & Coats";
            getListProduct();
  
        })
        $('#Pants').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Pants & Leggings";
            getListProduct();
  
        })
        $('#Hoodies').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Hoodies & Sweats";
            getListProduct();
  
        })
        $('#Rompers').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Rompers & Jumpsuits";
            getListProduct();
  
        })
        $('#Shirts').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Shirts & Blouses";
            getListProduct();
  
        })
        $('#Shirts2').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Shirts";
            getListProduct();
  
        })
        $('#Sweaters').on('click', function () {
             filter.type = "Collection";
           filter.searchTerm = "Sweaters & Knits";
            getListProduct();
  
        })
         $('#priceMaxToM').on('click', function () {
           filter.type = "Price";
           filter.searchTerm = "giam";
            getListProduct();
  
        })
        $('#priceMinToM').on('click', function () {
           filter.type = "Price";
           filter.searchTerm = "tang";
            getListProduct();
  
        })
        $('#priceMax').on('click',function(){
             $('#priceMin').prop('checked', false);
            priceSort = 2;
            getListProduct();
        })
        $('#priceMin').on('click',function(){
            $('#priceMax').prop('checked', false);
            priceSort = 1;
            getListProduct();
        })
         $('.colorFind').on('click',function(){
            idColor = this.getAttribute('data-id');
            filter.type = 'Color';
            filter.searchTerm = idColor;
            getListProduct();
        })
          $('.BrandFind').on('click',function(){
            idBrand = this.getAttribute('data-id');
            filter.type = 'Brand';
            filter.searchTerm = idBrand;
            getListProduct();
        })


        $('#contentProduct').on('click', '.addCart', function() {
          idCart = this.getAttribute('data-id');
          getCart(idCart);

        });
        
       
     
         $('#contentProduct').on('click','#backList', function () {
            if(filter.page>1)
            {
                filter.page = filter.page -1;
                getListProduct();
            }
            else
            {
                filter.page = 1;
                getListProduct ()
            }
        })
        $('#contentProduct').on('click','#nextList', function () {  
             if(filter.page>@ViewBag.LastPage)
            {
                filter.page = @ViewBag.LastPage;
                getListProduct();
            }
            else
            {
                filter.page = filter.page+1;
                getListProduct ()
            }
        })
         $('#contentProduct').on('click','#firstList', function () {         
                filter.page = 1;
                getListProduct();
        })
           $('#contentProduct').on('click','#lastList', function () {         
                filter.page = @ViewBag.LastPage;
                getListProduct();
        })
        $("#btn-FindName").on('click',function()
        {          
            filter.type = 'Name';
            filter.searchTerm = $("#headerSearch").val();
            getListProduct();
        })
        function getListProduct ()
        {
        $.ajax({
        type: "POST",
        url: "https://localhost:7233/shop/getListProduct",
        dataType: "json",
        data: filter,
        success: function(data) {
            var listProduct = JSON.parse(data);
            var display = $("#contentProduct");
            display.empty();
            console.log(listProduct);
            if(priceSort==1)
            {
                listProduct.sort(function(a, b){return a.Price - b.Price});
            }
            if(priceSort==2)
            {
                listProduct.sort(function(a, b){return b.Price - a.Price });
            }
             for(let index of listProduct)
             {
                  display.append("<div class='col-12 col-sm-6 col-lg-4'>"+
                                   "<div class='single-product-wrapper'>"+
                                    "<div class='product-img'>"+
                                        '<img src='+index.Image+' alt="" >'+
                                        '<div class="product-favourite">'+
                                            '<a href="#" class="favme fa fa-heart"></a>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="product-description">'+
                                        '<span>'+index.Brand+'</span>'+
                                        '<a href='+"https://localhost:7233/Shop/Details?id="+index.ProductId+'>'+
                                            '<h6>'+index.NameProduct+'</h6>'+
                                        '</a>'+
                                        '<p class="product-price">$'+index.Price+'</p>'+

                                        '<div class="hover-content">'+
                                            '<div class="add-to-cart-btn">'+
                                                '<a href="#" class="btn essence-btn addCart" data-id="'+index.ProductId+'">Add to Cart</a>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'                          
                            );
             }
              display.append('<nav aria-label="navigation">'+
                        '<ul class="pagination mt-50 mb-70">'+
                           '<li class="page-item"><a class="page-link" href="#" id="backList"><i class="fa fa-angle-left"></i></a></li>'+
                           '<li class="page-item"><a class="page-link" href="#" id="firstList">1</a></li>'+
                           '<li class="page-item"><a class="page-link" href="#">...</a></li>'+
                           '<li class="page-item"><a class="page-link" href="#" style="color:blue">'+filter.page+'</a></li>'+
                           '<li class="page-item"><a class="page-link" href="#">...</a></li>'+
                           '<li class="page-item"><a class="page-link" href="#" id="lastList" >'+@ViewBag.LastPage+'</a></li>'+
                           '<li class="page-item"><a class="page-link" href="#" id="nextList"><i class="fa fa-angle-right"></i></a></li>'+
                        '</ul>'+
                    '</nav>');
           
        },
        error: function(xhr, status, error) {
        }
    });
    }
     getListProduct();

     function getCart(idCart)
     {
          $.ajax({
                   url: "https://localhost:7233/Shop/getCart",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                      },
                    data: {
                        id: idCart
                    },
                    success: function (result) {
                        alert(result);
                        getListCart();
                    },
                    error: function (err) {
                        alert(err.statusText);
                }
          })
     }
     



 });
        
</script>