﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Product>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(content/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="">
            <div class="row">

                <div class="col-12 col-md-6">
                @{
                    int oderPrice = 0;
                    int dem = 0;
                }
                    @foreach(var x in Model)
                {
                     oderPrice = oderPrice+ x.Price;
                    <!-- Cart Item Desc -->
                    <div class="single-cart-item" style="margin-bottom:20px;" >
                        <div class="row">
                            <div class="col-sm"><img src="@x.Image" class="cart-thumb" alt=""></div>
   
                            <div class="cart-item-desc col-sm">
                                <span class="badge">@x.Brand</span>
                                <h6>@x.NameProduct</h6>
                                 <div> <p class="price">Size </p>
                                    <div class="nice-select  productSize">
                          
                                        <span class="current firstIdQuan" data-id="@x.Quantities.ToList().First().QuantityId">Size @x.Quantities.ToList().First().Size Còn:@x.Quantities.ToList().First().Quantity1 sản phẩm.</span>
                                        <ul class="list listQuality">
                                            @foreach(var i in @x.Quantities.ToList())
                                            {
                                                if(i.Quantity1>0)
                                                {
                                                    <li data-id="@dem" class="option sizeProduct" data-quality="@i.QuantityId">Size @i.Size Còn: @i.Quantity1 sản phẩm</li>
                                                }
                                                
                                            }
                                           
                                                                          
                                        </ul>
                                    </div>
                                     
                                 </div>
                               <p class="color">Màu sắc: @x.Color</p>
                                <p class="price">Số lượng: </p>
                                <div class="price ">                                
                                    <div class="input-group priceQuality" data-id="@x.ProductId" >
                                      <input data-id="@dem" type="number" class="form-control QualityProduct"  min="1" max="50" value="1">
                                      <div class="input-group-append priceChange" >
                                        <span class="input-group-text">$</span>
                                        <span class="input-group-text spanPrice" data-sl ="@x.Price" data-id="@x.Price">@x.Price</span>
                                      </div>
                                    </div>
                                </div>
                       
                            </div>
                        </div>
                    </div>
                    <p style="display:none"> @(dem = dem +1)</p>                         
                                                   
                                                
                                            
                     <!-- Cart Item Desc -->
                }
                
               
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Đơn Đặt Hàng</h5>
                            <p>Chi tiết</p>
                        </div>

                        <ul class="order-details-form mb-4">
                            <li><span>Tổng tiền :</span> <span id="tongTien">$@oderPrice</span></li>
                            <li><span>Voucher :</span> <span> <input type="text" class="form-control voucher"></span></li>
                            <li><span>Giảm giá :</span> <span id="discount">0%</span></li>
                            <li><span>Phải thanh toán :</span> <span id="tongTienThanhToan">$@oderPrice</span></li>
                            <li><span>Địa chỉ nhận hàng :</span> <span><input type="text" class="form-control diaChi" readonly></span></li>
                            <li><span>Số điện thoại :</span> <span><input type="text" class="form-control sdt1" readonly></span></li>
                        </ul>

                        <div id="accordion" role="tablist" class="mb-4">
                            
                            <div class="card">
                                <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Vui lòng kiểm tra kĩ sản phẩm trước khi thanh toán!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="btn essence-btn xacNhanOder">Đặt Hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận đặt hàng></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <P>Xác nhận đặt hàng</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary" id="btn-xacNhan-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- ##### Checkout Area End ##### -->
        <script src="/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <script>
        var postOder = {
            Address: "",
            PriceTotal: 0,
            PhomeNumber: "",
        }
        var gvoucher = "";
        var PriceTotal1 = @oderPrice;
        var gDiscount = 0;
        getDataOder();
        var priceProduct = 0;
        
       
        var listOderDetail = new Array();
   
        getOderDetail();

    $(".QualityProduct").on('change',function(){
                var sl = $(this).val();
                var divCha = $(this).closest("div");
                var divCon = divCha.children("div");
                var spanCon = divCon.children(".spanPrice");
                var price = spanCon.data("id");
                divCon.empty();
                divCon.append(
                    '<span class="input-group-text">$</span>'+
                    '<span class="input-group-text spanPrice" data-sl="'+sl*price+'" data-id="'+price+'">'+sl*price+'</span>'
                );
                var inputs = $(".spanPrice");
                var tongTien = 0;
                  
                for(var i = 0; i < inputs.length; i++){
                        tongTien = tongTien + $(inputs[i]).data("sl");
                    }
                    PriceTotal1 = parseInt(tongTien*(1-gDiscount/100));
                    $("#tongTien").empty();
                    $("#tongTien").append(tongTien);
                     $("#tongTienThanhToan").empty();
                    $("#tongTienThanhToan").append("$"+PriceTotal1);
                     var id = parseInt($(this).data("id"));
                     listOderDetail[id].quantity = parseInt($(this).val());
                
        });
     $('.xacNhanOder').on('click', function () {
         $("#deleteModel").modal("show");
    })
    $('#btn-xacNhan-model').on('click',function()
    {
        getOder();
         $.ajax({
                    url: "https://localhost:7233/Checkout/getOder",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        'voucher': gvoucher
                    },
                    data: postOder,
                    success: function (result) {
                       postOderDetail(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })

    });
        function getDataOder() {
                $.ajax({
                    url: "https://localhost:7233/Checkout/getDataOder",
                    method: "GET",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    success: function (result) {
                        var user = JSON.parse(result);
                      
                       $(".diaChi").val(user.Address);
                       $(".sdt1").val(user.PhoneNumber);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
       
        }
    $(".voucher").on('change',function()
    {
        var voucherCheck = $(this).val();
        $.ajax({
                    url: "https://localhost:7233/Checkout/checkVoucher",
                    method: "POST",
                    timeout: 0,
                    data: {
                        voucher : voucherCheck
                    },
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    success: function (result) {
                        if(result==0)
                        {
                            alert("Voucher không đúng!");
                            gvoucher = "";
                        }
                        else
                        {
                            gDiscount = result;
                            $("#discount").empty();
                            $("#discount").append(result + '%');
                            PriceTotal1 = parseInt(PriceTotal1*(1-gDiscount/100));
                            $("#tongTienThanhToan").empty();
                            $("#tongTienThanhToan").append("$"+PriceTotal1);
                            gvoucher = voucherCheck;

                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
        
    });
    function getOderDetail()
    {
        
        var index = $(".firstIdQuan");
         for(var i = 0; i < index.length; i++){          
             let onderDetail = {
                QuantityId: 0,
                quantity: 0,
                OderId: 0
                }
             onderDetail.QuantityId = $(index[i]).data("id");
             listOderDetail.push(onderDetail);
         }
         var index2 = $(".QualityProduct");
         for(var i = 0; i < index2.length; i++){           
                listOderDetail[i].quantity =parseInt($(index2[i]).val());
         }
             
    }
    $(".sizeProduct").on('click',function()
    {
        var id = $(this).data("id");
        var quality = parseInt($(this).data("quality"));
        listOderDetail[id].QuantityId = quality;
    })
        function getOder()
        {
            postOder.Address = $(".diaChi").val(); 
            postOder.PhomeNumber = $(".sdt1").val();
            postOder.PriceTotal = PriceTotal1;
        }
    function postOderDetail(id)
    {
        for(let i = 0;i<listOderDetail.length;i++)
        {
            listOderDetail[i].OderId = id;
             $.ajax({
                    url: "https://localhost:7233/Checkout/postOderDetail",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    data: listOderDetail[i],
                    success: function (result) {
                       alert("Thành đặt hàng sản phẩm "+i+"thành công!");
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                })
        }
        window.location.href = "https://localhost:7233/Shop"
    }
    </script>