﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<User>
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/admin/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <title>@ViewBag.title</title>
     <!-- Favicon  -->
    <link rel="icon" href="/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">



</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="https://localhost:7233/Admin/product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminVoucher/Voucher">Voucher</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminOder/">Oder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminInvoice">Invoice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/AdminAccount">Admin Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7233/Login/logOut">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="main">


                <!-- content   -->
                <div class="" id="content">
                    <h2 style="text-align: center;">Quản lý account admin</h2>
                <div style="margin-bottom:25px;float:right;"><button type="button" id="btn-add" class="btn btn-secondary">Tạo mới</button></div>

                    <table class="table  table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã người dùng</th>
                                <th scope="col">Tên tài khoản</th>
                                <th scope="col">Tên admin</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Giới tính</th>
                                 <th scope="col">Loại</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.UserId</td>
                                    <td>@x.UserName</td>
                                    <td>@x.FullName</td>
                                    <td>@x.Address</td>
                                    <td>@x.PhoneNumber</td>
                                    <td>@x.Email</td>
                                  
                                    <td>@x.Birthday.ToShortDateString()</td>
                                     @if(x.Gender==true)
                                        {
                                            <td>Nữ</td>
                                        }
                                        else
                                        {
                                           <td>Nam</td>
                                        }
                                    <td>@x.Role</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-edit" data-id="@x.UserId">Chỉnh sửa</button>
                                        <button type="button" class="btn btn-danger btn-delete" data-id="@x.UserId">Xóa</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
          
            <!-- Modal delete -->
            <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <P>Xác nhận xóa tài khoản này ?</P>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-delete-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- Modal edit -->
            <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận chính sửa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                       <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Tên :</label>
                                        <input type="text" class="form-control" id="inp-edit-fullname">
                                    </div>                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Ngày sinh :</label>
                                        <input type="date" class="form-control" id="inp-edit-birthday">
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Giới tính :</label>
                                        <input type="radio" id="nam"  name="gender1"  value="0" style="height:35px; width:20px"><label>Nam</label>
						                <input type="radio" id="nu"  name="gender1"  value="1" style="height:35px; width:20px"><label>Nữ</label>
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Email :</label>
                                        <input type="text" class="form-control" id="inp-edit-email">
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Phone :</label>
                                        <input type="text" class="form-control" id="inp-edit-phone">
                                    </div>                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Địa chỉ :</label>
                                        <input type="text" class="form-control" id="inp-edit-address">
                                    </div>                           
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">UserName :</label>
                                        <input type="text" class="form-control" id="inp-edit-username">
                                    </div>                           
                                </div>
                            </div>
                             <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="checkNewPass" name="sort" checked>
                                  <label class="form-check-label" for="flexSwitchCheckDefault">Không sửa mật khẩu</label>
                             </div>
                              <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Mật khẩu mới :</label>
                                        <input type="password" class="form-control" id="inp-edit-password" readonly>
                                    </div>                           
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-edit-model">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                             <div class="form-group">
                            <label>Họ và tên</label>
                            <input class="form-control" type="text" name="" placeholder="Họ và tên" id="fullName">
                            </div>
                             <div class="form-group">
                            <label>Ngày sinh</label>
                            <input class="form-control" type="date" name="" placeholder="Ngày sinh" id="Birthday">
                            </div>
                             <div class="form-group">
                             <label>Số điện thoại</label>
                            <input class="form-control" type="text" name="" placeholder="Số điện thoại" id="PhoneNumber">
                            </div>
                             <div class="form-group">
                             <label>Giới tính</label>
                            <input class="" type="radio" name="gender" value="0" style="height:15px; width:35px"><label>Nam</label>
						    <input class="" type="radio" name="gender" value="1"  style="height:15px; width:35px"><label>Nữ</label>
                            </div>
                             <div class="form-group">
                             <label>Email</label>
                            <input class="form-control" type="text" name="" placeholder="Email" id="Email">
                            </div>
                             <div class="form-group">
                             <label>Địa chỉ</label>
                            <input class="form-control" type="text" name="" placeholder="Địa chỉ" id="Address">
                            </div>
                             <div class="form-group">
                             <label>Tài khoản</label>
                            <input class="form-control" type="text" name="username" placeholder="Tài khoản" id="UserName">
                            </div>
                             <div class="form-group">
                             <label>Mật khẩu</label>
                            <input class="form-control" type="password" name="password" placeholder="Password" id="PassWord">
                            </div>
                             <div class="form-group">
                             <label>Loại tài khoản</label>
                            <input class="" type="radio" name="typeAcc" value="1" style="height:15px; width:35px"><label>Admin</label>
						    <input class="" type="radio" name="typeAcc" value="2"  style="height:15px; width:35px"><label>Nhân viên</label>
                            </div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-add-model">Thêm tài khoản</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/admin/js/popper.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
</body>
<script>
    var userEdit = {
        UserId: 0,
        UserName : "",
        FullName: "",
        Birthday: "",
        Address: "",
        PhoneNumber: "",
        Gender: false,
        Email: "",
        PassWord: "",
        Role: ""
    }
    var gEditPass = 0;
    var dangKy ={
			UserName : "",
			PassWord : "",
			FullName : "",
			Birthday : "",
			Address : "",
			PhoneNumber : "",
			Gender : false,
			Email : "",
            Role: ""
		}
   $("#btn-add").on('click',function()
   {
       $("#addModal").modal("show");
   })
   $("#btn-add-model").on('click',function()
   {
       taoTaiKhoan();
   })
     $('.btn-edit').on('click', function () {
         userEdit.UserId = this.getAttribute('data-id');
         postData();
        $("#editModel").modal("show");
    })
     $("#btn-edit-model").on('click',function()
    {
        getDataEditUser();
        onBtnEditUser();

    })
       $("#checkNewPass").change(function () {
        if(gEditPass==0)
        {
            gEditPass=1;
            $('#inp-edit-password').prop('readonly', false);
        }
        else
        {
            gEditPass = 0;
            $('#inp-edit-password').prop('readonly', true);
        }
        
    })
      $('.btn-delete').on('click', function () {
         userEdit.UserId = this.getAttribute('data-id');
        $("#deleteModel").modal("show");
    })
     $("#btn-delete-model").on('click',function()
    {
       onBtnDeleteUser();

    })
        function getData()
		{
			dangKy.UserName = ($("#UserName").val());
			dangKy.PassWord = ($("#PassWord").val());
			dangKy.FullName = ($("#fullName").val());
			dangKy.Birthday = ($("#Birthday").val());
			dangKy.Address = ($("#Address").val());
			dangKy.PhoneNumber = ($("#PhoneNumber").val());
			dangKy.Email = ($("#Email").val());
			if($('input[name=gender]:checked').val()==0)
			{
				dangKy.Gender = false;
			}
			else
			{
				dangKy.Gender = true;
			}
            if($('input[name=typeAcc]:checked').val()==1)
			{
				dangKy.Role = "1";
			}
			else
			{
				dangKy.Role = "2";
			}
            debugger;
		}
        function validate()
		{
			if(dangKy.UserName.length<6)
			{
				alert("Tài khoản phải dài hơn 5 ký tự!");
				return false;
			}
			if(dangKy.PassWord.length<6)
			{
				alert("Mật khẩu phải dài hơn 5 ký tự!");
				return false;
			}
			if(dangKy.FullName == "")
			{
				alert("Vui lòng nhập họ và tên!");
				return false;
			}
			if(dangKy.Birthday == "")
			{
				alert("Vui lòng nhập ngày sinh!");
				return false;
			}
			if(dangKy.Address == "")
			{
				alert("Vui lòng nhập địa chỉ!");
				return false;
			}
			if(dangKy.PhoneNumber == "")
			{
				alert("Vui lòng nhập số điện thoại!");
				return false;
			}
			if(isNaN(dangKy.PhoneNumber))
			{
				alert("Số điện thoại phải là số!");
				return false;
			}
			if(dangKy.Email == "")
			{
				alert("Vui lòng nhập Email!");
				return false;
			}
			return true;
		}
        function taoTaiKhoan ()
			{
				getData();
					if (validate()) {
						$.ajax({
							url: "https://localhost:7233/AdminAccount/DangKyTaiKhoan",
							method: "POST",
							timeout: 0,
							headers: {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							data: dangKy,
							success: function (result) {
								alert(result);
								window.location.href = 'https://localhost:7233/AdminAccount/Index';
							},
							error: function (err) {
								alert(err.statusText);
							}
						})
					}					
        
			}
        function postData()
    {
        $.ajax({
                "url": "https://localhost:7233/AdminAccount/postData/"+ userEdit.UserId,
                "method": "POST",
                "timeout": 0,
                success: function (result) {
                    console.log(result);
                    $("#inp-edit-fullname").val(result.fullName);
                    $("#inp-edit-birthday").val(result.birthday.slice(0, 10));
                    $("#inp-edit-email").val(result.email);
                    $("#inp-edit-phone").val( result.phoneNumber);
                    $("#inp-edit-address").val( result.address );
                    $("#inp-edit-username").val(result.userName);
                    if(result.gender==false)
                    {
                        $("#nam").prop("checked", true);
                    }
                    else
                    {
                          $("#nu").prop("checked", true);
                    }
                },
                error: function (err) {
                    alert("false");
                }
            });
    }
        function getDataEditUser()
        {
            userEdit.FullName = $("#inp-edit-fullname").val();
            userEdit.Birthday = $("#inp-edit-birthday").val();
            userEdit.Email = $("#inp-edit-email").val();
            userEdit.PhoneNumber = $("#inp-edit-phone").val();
            userEdit.Address = $("#inp-edit-address").val();
            userEdit.PassWord = $("#inp-edit-password").val();
            userEdit.UserName =  $("#inp-edit-username").val();
            if($('input[name=gender1]:checked').val()==0)
			    {
				    userEdit.Gender = false;
			    }
		     if($('input[name=gender1]:checked').val()==1)
			    {
				    userEdit.Gender = true;
			    }
        }
        function onBtnEditUser ()
        {
                if (validateEdit()) {
                    $.ajax({
                        url: "https://localhost:7233/AdminAccount/editUser",
                        method: "POST",
                        timeout: 0,
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "editPassword": gEditPass
                        },
                        data: userEdit,
                        success: function (result) {
                                alert("Thành công!");
                                window.location.reload();
                        
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    })
                }
        
        }
         function validateEdit()
		{
			if(userEdit.UserName.length<6)
			{
				alert("Tài khoản phải dài hơn 5 ký tự!");
				return false;
			}
			if(userEdit.PassWord.length<6&&gEditPass==1)
			{
				alert("Mật khẩu phải dài hơn 5 ký tự!");
				return false;
			}
			if(userEdit.FullName == "")
			{
				alert("Vui lòng nhập họ và tên!");
				return false;
			}
			if(userEdit.Birthday == "")
			{
				alert("Vui lòng nhập ngày sinh!");
				return false;
			}
			if(userEdit.Address == "")
			{
				alert("Vui lòng nhập địa chỉ!");
				return false;
			}
			if(userEdit.PhoneNumber == "")
			{
				alert("Vui lòng nhập số điện thoại!");
				return false;
			}
			if(isNaN(userEdit.PhoneNumber))
			{
				alert("Số điện thoại phải là số!");
				return false;
			}
			if(userEdit.Email == "")
			{
				alert("Vui lòng nhập Email!");
				return false;
			}
			return true;
		}
        function onBtnDeleteUser ()
        {
                    $.ajax({
                        url: "https://localhost:7233/AdminAccount/deleteUser/"+userEdit.UserId,
                        method: "POST",
                        timeout: 0,
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        success: function (result) {
                                alert("Thành công!");
                                window.location.reload();
                        
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    })     
        
        }
</script>
</html>